TCCWP/Service References/TCCWS/TCCWS45.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.1.100:12115/TCCWS.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://10.1.1.100:12115/TCCWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TCCWS" />
  <xs:element name="Sincronizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="atualizacoes" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="ultimaAtualizacao" type="xs:dateTime" />
        <xs:element minOccurs="0" name="identificacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SincronizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TCCWS" minOccurs="0" name="SincronizarResult" nillable="true" type="q2:Atualizacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>